.profileScreen {
  flex: 1;
  padding: 15px;
  overflow-x: hidden;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
}

.errorTextUpdate {
  align-self: center;
  color: red;
  font-size: 15px;
}

.profileContainer {
  padding: 20px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileInformationContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 70vh;
}

.profileTitleContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profileTitleText {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.profileImageWrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}

.profileImageContainer {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.profileImage {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.inputImage {
  margin-top: 10px;
  margin-bottom: 10px;
}

.saveButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.saveButton {
  width: 20%;
  height: 50px;
  cursor: pointer;
}
