.card {
  width: 95%;
  min-height: 35%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.companyPhoto {
  padding: 10px;
  width: 100%;
  height: 15%;
  justify-self: center;
}

.companyPhotoContainer {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #7c6c90;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyPhotoContainer p {
  color: white;
  font-size: 10px;
}

.companyImageStyle {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 10px;
}

.profilePhotoContainer {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #7c6c90;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePhotoContainer p {
  color: white;
  font-size: 10px;
}

.profileImageStyle {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
}

.profileName {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.position {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 12px;
}

.textInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.companyName {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.companyDescriptionContainer {
  width: 100%;
}

.companyDescription {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
  white-space: normal !important;
  word-wrap: break-word !important;
}

.interestsContainer {
  display: flex;
  flex-direction: column;
}

.interestTitle {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.interestsList {
  display: flex;
  flex-direction: row;
}

.companyInfoContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  justify-content: space-between;
}

.companyInfoWrapper {
  display: flex;
  flex-direction: column;
}

.companyInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.requestButton {
  display: inline-block;
  width: 150px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background-color: #7c6c90;
  border: 0px;
  transition: background 0.3s ease-in-out;
  margin-bottom: 10px;
}

.requestButton:hover {
  background-color: #6d3ab1;
}

.cardInfoProperty {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-weight: bold;
}

.cardInfoValue {
  padding: 0;
  margin: 0;
  color: #6b6969;
}

.cardInterest {
  padding: 7px;
  background-color: #7c6c90;
  margin-right: 10px;
  border-radius: 30px;
  color: white;
  font-size: 12px;
}
