.invitationCard {
  width: 90%;
  min-height: 40%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.companyPhoto {
  padding: 10px;
  width: 100%;
  height: 15%;
  justify-self: center;
}

.companyPhotoContainerINV {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #5785a7;
}

.companyImageStyle {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
}

.profilePhotoContainerINV {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #5785a7;
  text-align: center;
}

.profileImageStyle {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
}

.textInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.companyName {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.companyDescription {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.interestsContainer {
  display: flex;
  flex-direction: column;
}

.interestTitle {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.interestInv {
  display: flex;
  flex-direction: row;
}


.companyInfoContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
  justify-content: space-between;
}

.companyInfoWrapper {
  display: flex;
  flex-direction: column;
}

.companyInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.requestButtonInv {
  display: inline-block;
  width: 150px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background-color: #5785a7;
  border: 0px;
  transition: background 0.3s ease-in-out;
  margin-bottom: 10px;
}

.requestButtonInv:hover {
  background-color: #264aa7;
}

.interestInv p {
  padding: 7px;
  background-color: #5785a7;
  margin-right: 10px;
  border-radius: 30px;
  color: white;
  font-size: 12px;
}